@font-face {
    font-family: 'NetflixSans';
    src: url('/assets/fonts/NetflixSans-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/assets/fonts/NetflixSans-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/assets/fonts/NetflixSans-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/assets/fonts/NetflixSans-Bold.otf') format('opentype');
    font-weight: 700;
}

@import 'tailwindcss';

@theme {
    --font-netflix: 'NetflixSans', sans-serif;
}

@layer utilities {
    .bg-gradientDark {
        background-image: linear-gradient(160deg, #000000 0%, #1b1b2f 30%, #261d33 60%, #3a1d2b 100%);
    }
}
